body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-45px;
  width:1436px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u3429 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:57px;
  width:1080px;
  height:539px;
  display:flex;
  opacity:0.8;
}
#u3429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(37, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u3430 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:140px;
  width:108px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u3430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(37, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u3431 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:142px;
  width:68px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u3431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(37, 116, 214, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u3432 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:140px;
  width:108px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u3432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#026DD4;
}
#u3433 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:161px;
  width:68px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#026DD4;
}
#u3433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#707070;
}
#u3434 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:196px;
  width:68px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#707070;
}
#u3434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#026DD4;
}
#u3435 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:194px;
  width:108px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#026DD4;
}
#u3435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#707070;
}
#u3436 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:159px;
  width:108px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#707070;
}
#u3436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:326px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:240px;
  width:286px;
  height:326px;
  display:flex;
}
#u3437 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3438 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:57px;
  width:332px;
  height:800px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3438 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
