body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-12px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:295px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:541px;
  width:396px;
  height:295px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u118 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:815px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:14px;
  width:375px;
  height:815px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120 label {
  left:0px;
  width:100%;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:114px;
  width:100px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u120_img.selected {
}
#u120.selected {
}
#u120_img.disabled {
}
#u120.disabled {
}
#u120_img.selectedDisabled {
}
#u120.selectedDisabled {
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:427px;
  width:363px;
  height:342px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:815px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:21px;
  width:375px;
  height:815px;
  display:flex;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123 label {
  left:0px;
  width:100%;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:123px;
  width:100px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u123_img.selected {
}
#u123.selected {
}
#u123_img.disabled {
}
#u123.disabled {
}
#u123_img.selectedDisabled {
}
#u123.selectedDisabled {
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u123_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
