body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:707px;
}
#u3117 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:35px;
  width:375px;
  height:707px;
  display:flex;
}
#u3117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:66px;
}
#u3118 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:168px;
  width:67px;
  height:66px;
  display:flex;
}
#u3118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3119 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:168px;
  width:75px;
  height:66px;
  display:flex;
}
#u3119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u3120 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:173px;
  width:37px;
  height:34px;
  display:flex;
}
#u3120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3121 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:214px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3121_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3122 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:346px;
  width:250px;
  height:150px;
  display:flex;
}
#u3122 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
