body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:982px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:319px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3073 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:63px;
  width:327px;
  height:319px;
  display:flex;
}
#u3073 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:165px;
}
#u3074 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:19px;
  width:375px;
  height:165px;
  display:flex;
}
#u3074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
}
#u3075 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:209px;
  width:375px;
  height:542px;
  display:flex;
}
#u3075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3076 label {
  left:0px;
  width:100%;
}
#u3076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u3076 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:184px;
  width:288px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3076 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3076_img.selected {
}
#u3076.selected {
}
#u3076_img.disabled {
}
#u3076.disabled {
}
#u3076_img.selectedDisabled {
}
#u3076.selectedDisabled {
}
#u3076_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u3076_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:420px;
}
#u3077 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:394px;
  width:548px;
  height:420px;
  display:flex;
}
#u3077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3078 label {
  left:0px;
  width:100%;
}
#u3078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3078 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:480px;
  width:288px;
  height:12px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u3078 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3078_img.selected {
}
#u3078.selected {
}
#u3078_img.disabled {
}
#u3078.disabled {
}
#u3078_img.selectedDisabled {
}
#u3078.selectedDisabled {
}
#u3078_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u3078_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
