body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:982px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:319px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3109 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:63px;
  width:327px;
  height:319px;
  display:flex;
}
#u3109 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:165px;
}
#u3110 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:19px;
  width:375px;
  height:165px;
  display:flex;
}
#u3110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
}
#u3111 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:209px;
  width:375px;
  height:542px;
  display:flex;
}
#u3111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3112 label {
  left:0px;
  width:100%;
}
#u3112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u3112 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:184px;
  width:288px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3112 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3112_img.selected {
}
#u3112.selected {
}
#u3112_img.disabled {
}
#u3112.disabled {
}
#u3112_img.selectedDisabled {
}
#u3112.selectedDisabled {
}
#u3112_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u3112_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:420px;
}
#u3113 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:394px;
  width:548px;
  height:420px;
  display:flex;
}
#u3113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3114 label {
  left:0px;
  width:100%;
}
#u3114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3114 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:480px;
  width:288px;
  height:12px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u3114 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3114_img.selected {
}
#u3114.selected {
}
#u3114_img.disabled {
}
#u3114.disabled {
}
#u3114_img.selectedDisabled {
}
#u3114.selectedDisabled {
}
#u3114_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u3114_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
