body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:982px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:319px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u195 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:63px;
  width:327px;
  height:319px;
  display:flex;
}
#u195 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:165px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:19px;
  width:375px;
  height:165px;
  display:flex;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:209px;
  width:375px;
  height:542px;
  display:flex;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198 label {
  left:0px;
  width:100%;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:184px;
  width:288px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u198_img.selected {
}
#u198.selected {
}
#u198_img.disabled {
}
#u198.disabled {
}
#u198_img.selectedDisabled {
}
#u198.selectedDisabled {
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u198_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:420px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:394px;
  width:548px;
  height:420px;
  display:flex;
}
#u199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u200 label {
  left:0px;
  width:100%;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:480px;
  width:288px;
  height:12px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u200_img.selected {
}
#u200.selected {
}
#u200_img.disabled {
}
#u200.disabled {
}
#u200_img.selectedDisabled {
}
#u200.selectedDisabled {
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u200_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
