body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:982px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:319px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:63px;
  width:327px;
  height:319px;
  display:flex;
}
#u3003 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:165px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:19px;
  width:375px;
  height:165px;
  display:flex;
}
#u3004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:209px;
  width:375px;
  height:542px;
  display:flex;
}
#u3005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3006 label {
  left:0px;
  width:100%;
}
#u3006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:184px;
  width:288px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3006 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3006_img.selected {
}
#u3006.selected {
}
#u3006_img.disabled {
}
#u3006.disabled {
}
#u3006_img.selectedDisabled {
}
#u3006.selectedDisabled {
}
#u3006_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u3006_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:420px;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:394px;
  width:548px;
  height:420px;
  display:flex;
}
#u3007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3008 label {
  left:0px;
  width:100%;
}
#u3008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:480px;
  width:288px;
  height:12px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u3008 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3008_img.selected {
}
#u3008.selected {
}
#u3008_img.disabled {
}
#u3008.disabled {
}
#u3008_img.selectedDisabled {
}
#u3008.selectedDisabled {
}
#u3008_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u3008_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
