body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:982px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:319px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3374 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:63px;
  width:327px;
  height:319px;
  display:flex;
}
#u3374 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:165px;
}
#u3375 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:19px;
  width:375px;
  height:165px;
  display:flex;
}
#u3375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
}
#u3376 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:209px;
  width:375px;
  height:542px;
  display:flex;
}
#u3376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3377 label {
  left:0px;
  width:100%;
}
#u3377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u3377 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:184px;
  width:288px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3377 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3377_img.selected {
}
#u3377.selected {
}
#u3377_img.disabled {
}
#u3377.disabled {
}
#u3377_img.selectedDisabled {
}
#u3377.selectedDisabled {
}
#u3377_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u3377_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:420px;
}
#u3378 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:394px;
  width:548px;
  height:420px;
  display:flex;
}
#u3378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3379 label {
  left:0px;
  width:100%;
}
#u3379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3379 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:480px;
  width:288px;
  height:12px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u3379 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3379_img.selected {
}
#u3379.selected {
}
#u3379_img.disabled {
}
#u3379.disabled {
}
#u3379_img.selectedDisabled {
}
#u3379.selectedDisabled {
}
#u3379_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:272px;
  word-wrap:break-word;
  text-transform:none;
}
#u3379_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
