body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-24px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:1080px;
  height:539px;
  display:flex;
}
#u2909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:8px;
  color:#000000;
  text-align:left;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:278px;
  width:109px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:8px;
  color:#000000;
  text-align:left;
}
#u2910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u2910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:173px;
  width:150px;
  height:150px;
  display:flex;
}
#u2911 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
