body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u3194 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:31px;
  width:1080px;
  height:539px;
  display:flex;
}
#u3194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:203px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:181px;
  width:233px;
  height:203px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3195 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3196 label {
  left:0px;
  width:100%;
}
#u3196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u3196 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:105px;
  width:100px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3196 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3196_img.selected {
}
#u3196.selected {
}
#u3196_img.disabled {
}
#u3196.disabled {
}
#u3196_img.selectedDisabled {
}
#u3196.selectedDisabled {
}
#u3196_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3196_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
