body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:1255px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:946px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:104px;
  width:380px;
  height:946px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u821 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:34px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:49px;
  width:226px;
  height:34px;
  display:flex;
}
#u822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:34px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:49px;
  width:854px;
  height:34px;
  display:flex;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:1px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:83px;
  width:627px;
  height:1px;
  display:flex;
}
#u824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:505px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:84px;
  width:627px;
  height:505px;
  display:flex;
}
#u825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:1px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:83px;
  width:227px;
  height:1px;
  display:flex;
}
#u826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
